*.txt linguist-language=Text

*.md linguist-language=Markdown
*.md linguist-detectable=true
*.md linguist-documentation=false

*.svg linguist-language=SVG
*.svg linguist-detectable=true
*.svg linguist-documentation=false

*.yml linguist-language=yml