*.txt linguist-language=Text
*.txt linguist-detectable=true

*.md linguist-language=Markdown
*.md linguist-detectable=true
*.md linguist-documentation=false

*.svg linguist-language=SVG
*.svg linguist-detectable=true
*.svg linguist-documentation=false
*.svg linguist-generated=false

*.yml linguist-language=YAML
*.yml linguist-detectable=true
*.yaml linguist-language=YAML
*.yaml linguist-detectable=true

*.json linguist-language=JSON
*.json linguist-detectable=true
*.json linguist-documentation=false